<!-- @format -->
<div class="shadow-sm p-5 mb-5 bg-white rounded">
    <h3 *ngIf="!holidayList.length">No Data Found</h3>
    <table *ngIf="holidayList.length" class="table">
        <thead class="thead-light">
            <th scope="col" (click)="sortTitle()">Title</th>
            <th scope="col" (click)="sortStartDate()">Start Date</th>
            <th scope="col" (click)="sortEndDate()">End Date</th>
            <th scope="col">Actions</th>
        </thead>

        <tbody>
            <tr *ngFor="let item of holidayList | paginate: pageConfig; index as i">
                <td>{{ item.title }}</td>
                <td>{{ item.startDate | date: "dd/MM/yyyy" }}</td>
                <td>{{ item.endDate | date: "dd/MM/yyyy" }}</td>
                <td>
                    <button type="button" class="btn btn-default btn-sm" (click)="onEditHolidayEvent.emit(item)">
            <span class="glyphicon glyphicon-pencil"></span>
          </button>
                    <button type="button" class="btn btn-default btn-sm" (click)="onDeleteHoliday(item.id)">
            <span class="glyphicon glyphicon-trash"></span>
          </button>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="container">
        <div class="pull-right">
            <pagination-controls class="pull-right" (pageChange)="pageChange($event)"></pagination-controls>
            <label for="rpp">row per page:</label>
            <select id="rpp" (change)="onRowPerPageChange($event)">
        <option>2</option>
        <option>4</option>
      </select>
        </div>
    </div>
</div>